[submodule "Assets/TLab/TLabWebView"]
	path = Assets/TLab/TLabWebView
	url = https://github.com/TLabAltoh/TLabWebView.git
[submodule "Assets/TLab/TLabVKeyborad"]
	path = Assets/TLab/TLabVKeyborad
	url = https://github.com/TLabAltoh/TLabVKeyborad.git
[submodule "Assets/TLab/TLabVRPlayerController"]
	path = Assets/TLab/TLabVRPlayerController
	url = https://github.com/TLabAltoh/TLabVRPlayerController.git
